
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Седона</title>
  </head>
  <body>
    <header class="page-header">
      <img class="logo-page-header" src="" alt="Логотип сайта города Седона">
      <nav class="navigation">
        <ul class="navigation-list">
          <li class="navigation-item">
             <a class="navigation-link" href="https://htmlacademy.ru">Главная</a>
           </li>
           <li class="navigation-item">
             <a class="navigation-link" href="https://htmlacademy.ru">О Седоне</a>
           </li>
            <li class="navigation-item">
             <a class="navigation-link" href="https://htmlacademy.ru">Гостинницы</a>
           </li>
         </ul>
         <ul class="navigation-use">
           <li class="navigation-item">
             <a class="navigation-link" href="https://htmlacademy.ru">
               <span class="visually-hidden">
                 Поиск
             </span>
           </a>  
           </li>
           <li class="navigation-item">
             <a class="navigation-link" href="https://htmlacademy.ru">
               <span class="visually-hidden">
                 Нравится
               </span>
             </a> 
           </li>
           <li class="navigation-item">
             <a class="navigation-link" href="https://htmlacademy.ru">
              Хочу сюда
             </a> 
           </li>
        </ul>
       </nav>

    
    </header>

    <main class="main-index">
      
     <div class="main-header-logo">
       <img class="logo-Welcome" src="" alt="Логотип-Welcome">
     
     
       <img class="logo-to-the-gorgeous" src="" alt="Логотип-to-the-gorgeous">
     
     
       <img class="logo-big-Sedona" src="" alt="Логотип-big-Sedona">
     </div>

     <section class="main-header-text">
      <h1 class="title-main">
        СЕДОНА-НЕБОЛЬШОЙ ГОРОДОК В АРИЗОНЕ,ЗАСЛУЖИВАЮЩИЙ БОЛЬШЕГО!
      </h1>
      <p class="reasons-text">
        Рассмотрим 5 причин, по которым Седона круче, чем Гранд-Каньон!
      </p>
     </section>



     <section class="advantages"> 
     
      <h2 class="advantages-hidden">
        <span class="visually-hidden">
         Преимущества Седоны
        </span>
      </h2>

       <div class="advantages-place">
        <h3 class="advantages-place-heading">НАСТОЯЩИЙ ГОРОДОК</h3>
        <div class="advantages-place-number">-№1-</div>
        <p class="advantages-place-description">Седона — не аттракцион для туристов, там течёт своя жизнь</p>
       </div>

       <div class="advantages-pictures">
        <img class="advantages-pictures-city" src="" alt="город">
        </div>

       <div class="advantage-comfort">
        <img class="advantage-comfort-logo-home" src="" alt="Логотип дом">
        <h3 class="advantages-comfort-needs">
          ЖИЛЬЕ
        </h3>
        <p class="advantages-comfort-neds-description">
          Рекомендуем пожить в настоящем мотеле, 
          всё как в кино!</p>
      </div> 

      <div class="advantage-comfort">
        <img class="advantage-comfort-logo-burger" src="" alt="Логотип бургер">
        <h3 class="advantages-comfort-needs">ЕДА</h3>
        <p class="advantages-comfort-neds-description">
          Всегда заказывайте топовый фирменный бургер, вы не разочаруетесь!
        </p>

      </div> 

      <div class="advantage-comfort">
        <img class="advantage-comfort-logo-present" src="" alt="Логотип подарок">
        <h3 class="advantages-comfort-needs">СУВЕНИРЫ</h3>
        <p class="advantages-comfort-neds-description">
          Не только китайского, но и настоящего местного производства!
        </p>



        <div class="advantages-pictures">
          <img class="advantages-pictures-canyon" src="" alt="Каньон">
          </div>
      </div> 

      <div class="advantages-place">
        <h3 class="advantages-place-heading">ТАМ ЕСТЬ МОСТ ДЬЯВОЛА</h3>
        <div class="advantages-place-number">-№2-</div>
        <p class="advantages-place-description">Да, по нему можно пройти! Если вы осмелитесь, разумеется</p>
      </div>
     </section>

     <section class="interest">
      <h2 class="interest-heading">
       Заинтересовались?
      </h2>
       <p class="interest-text">
       Укажите предполагаемые даты поездки,и мы покажем вам лучшие предложения гостиниц в Седоне
       </p>
       <a class="interest-button-search-hotei-in-Sedona" href="https://htmlacademy.ru">ПОИСК ГОСТИНИЦЫ В СЕДОНЕ</a>
     </section>

    </main>
    



    <footer class="page-footer">

      <section class="page-footer-mailing">
        <h2 class="footer-mailing">
         ПОДПИШИТЕСЬ НА РАССЫЛКУ
        </h2> 
        <p class="footer-info">
          Только полезная информация и никакого спама, честное бойскаутское!
        </p>
  
        <form class="mailing" action="https://echo.htmlacademy.ru/" method="post">
          <label for="mailing-email">Ваш e-mail</label>
          <input class="field"  placeholder="email@example.com" type="email" name="mailing-email" id="mailing-email" required>
          <button class="button-mailing-button" type="submit">
            <span class="visually-hidden">
              Подписаться
            </span>
          </button>
        </form>
       </section>

      <nav class="footer-social-network">

       

        <ul class="footer-social-network-itom">

          <li class="social-network-item">
            <a class="button" href="https://vk.com/htmlacademy.ru">
              <span class="visually-hidden">Вконтакте</span>
            </a>
           </li>

          <li class="footer-social-network-item">
            <a class="button" href="https://t.me/htmlacademy.ru">
              <span class="visually-hidden">Телеграм</span>
            </a>
 </li>

          <li class="footer-social-network-item">
     <a class="button" href="https://www.youtube.com/user/htmlacademy.ru">
              <span class="visually-hidden">Ютуб</span>
            </a>
          </li>

        </ul>
      
      
    

 <div class="footer-telephone">
        <a class="contacts-phone" href="tel:+78128121212">
          +7 (812) 812-12-12
        </a>
      </div>

    <div class="footer-logo">
       <a class="footer-lolo-academy" href="https://htmlacademy.ru">
        <img class="logo-footer" src="" alt="Логотип Академии">
    </a>
  </div>

    </nav>

    </footer>
    

  </body>
</html>





