@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.html {
  height: 100%;
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  outline: 5px solid red;
  outline-offset: -5px;
  height: 100%;
  min-height: 100%;
  background-color: #E5E5E5;
  padding-left: 40px;
  padding-right: 40px;
}

.conteiner {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  height: 100%;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  position: relative;
  display: block;
  width: 130px;
  margin-right: 47px;
}

.navigation-logo-page-header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.navigation-list {
  margin: 0;
  padding: 0 24px 0 0;
  display: flex;
  list-style-type: none;
}

.navigation-use {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
  list-style-type: none;
  align-items: center;
}

.navigation-list-item {
  margin: 20px 34px 19px 0;
}

.navigation-list-link {
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.navigation-use-item {
  margin-right : 24px;
}
.navigation-use-icon {
  width: 20px;
  height: 18px;
  display: block;
}
.search {
  background-image: url("../images-sedona/header/search.svg");
  width: 20px;
  height: 18px;
  background-repeat: no-repeat;
}

.favorite {
  background-image: url("../images-sedona/header/favorite.svg");
  width: 20px;
  height: 17px;
  background-repeat: no-repeat;
}

.navigation-use-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: #756157;
  padding: 9px 15px 8px;
  margin: 14px 0px 14px;
  width: 130px;
}

.main {
  flex-grow: 2;
}

.main-logo {
  background-image: url("../images-sedona/index-images/index-background.jpg");
  background-size: 1200px auto;
  height: 485px;
  background-repeat: no-repeat;
  background-color: #87CEEB;
  position: relative;
}

.main-logo-welcome {
  margin-top: 51px;
  margin-bottom: 26px;

}
.conteiner-edge {
  background-image: url("../images-sedona/index-images/under-edge.svg");
  height: 57px;
  background-repeat: no-repeat;
  position: absolute;
  width: 1200px;
  bottom: 0;
  }
.main-box {
  padding: 63px 0 90px ;
}
.main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 750px;
  height: 72px;
  margin: 0 auto 31px;
}

.main-subtitle {
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  width: 750px;
}
.advantages {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.advantages-pictures-city {
  display: block;
}

.advantages-pictures-canyon {
  display: block;
}
.advantages-place-number {
margin-bottom: 30px;
}
.advantages-place-description {
margin: 0;
}
.advantages-place-heading {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-comfort-needs {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}
.advantages-comfort-neds-description {
  margin: 0;
}

.advantages-comfort {
  width: 400px;
  min-height: 384px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 70px;
}
.advantages-place {
  width: 400px;
  min-height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  padding: 0 60px;
}
.town-bridge {
  color: #ffffff;
  background-color: #82B3D3;
  padding: 0 75px;
}

.advantages-comfort-image {
  width: 75px;
  height: 76px;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.home {
  background-image: url("../images-sedona/index-images/advantages/home.svg");
}

.burger {
  background-image: url("../images-sedona/index-images/advantages/food.svg");
}

.present {
  background-image: url("../images-sedona/index-images/advantages/present.svg");
}

.comfort-background {
  background: rgba(131, 179, 211, 0.12);
}

.place-background {
  background: rgba(131, 179, 211, 0.2);
}

.interest {
  display: block;
  padding: 91px 0 93px;
}

.interest-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  width: 400px;
  margin: 0 auto 29px;
}

.interest-text {
  font-size: 22px;
  line-height: 26px;
  width: 650px;
  margin: 0 auto 68px;
}

.interest-button-search-hotei-in-Sedona {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: #756157;
  padding: 12px 15px;
  display: block;
  width: 574px;
  margin: auto;
}

.mailing {
  display: block;
  padding: 94px 0;
  margin: 0 auto;
}

.index {
  background-image: url("../images-sedona/index-images/background-mailing.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #87CEEB;
  color: #ffffff;
  text-align: center;
}

.mailing-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  width: 500px;
  margin: 0 auto 29px;
}

.mailing-info {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  width: 500px;
  margin: 0 auto 46px;
}
.mailing-form {
  width: 770px;
  margin: 0 auto;
}
.mailing-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #87CEEB;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.footer-social-network {
  display: flex;
  padding: 0;
  width: 142px;
  justify-content: space-between;
  margin: auto 12px;
}

.footer-social-network-item {
  width: 24px;
  height: 17px;
  background-repeat: no-repeat;
  display: block;
}
.footer-social-network-button {
  width: 24px;
  height: 17px;
  display: block;
}
.vkontakte {
  background-image: url("../images-sedona/footer/vk.svg");
}

.telegram {
  background-image: url("../images-sedona/footer/telegram.svg");
}

.youtube {
  background-image: url("../images-sedona/footer/youtube.svg");
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.footer-logo {
  background-image: url("../images-sedona/footer/academy.svg");
  width: 115px;
  height: 33px;
}
.footer-logo-academy {
  display: block;
  width: 115px;
  height: 33px;
}
.navigation-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
padding: 40px 70px 30px;

}


/*catalog*/
.filter-content-conteiner {
  background-image: url("../images-sedona/catalog-images/filter-backround.jpg");
  width: 1200px;
  background-color: #82B3D3;
  background-repeat: no-repeat;
}
.filter-content-conteiner {
  margin-bottom: 50px;
}

.main-inner-header {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  width: 120px;
  list-style-type: none;
}

.home-main {
  background-image: url("../images-sedona/catalog-images/logo-home.svg");
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.symbol {
  background-image: url("../images-sedona/catalog-images/simbol.svg");
  width: 5px;
  height: 8px;
  margin-right: 10px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;

}

.infrastructure-form {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 0 70px 0;
}
.infrastructure-filter {
  list-style-type: none;
}
.infrastructure-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}
.infrastructure-filter-list {
  list-style-type: none;
  margin: 0;
}
.infrastructure-filter-control {
  color: #ffffff;
}
.prise-title {
  color: #ffffff;
}
.field {
  color: #ffffff;
  background-color: #82B3D3;
}
.button-filters-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
}

.button-filters-reset {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.hotels-found {
  display: flex;
  padding: 0 72px;
}
.main-header-quantity {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  min-width: 338px;
  margin: 0 191px 0 0;
}
.select-control-hotels {
margin-right: 78px;
 }
 .button-icon {
  border-color: #000000;
  border: solid;
  padding: 14px 12px;
  border-width: 2px;
  border-radius: 4px;
  background-position: center;
  margin-right: 8px;
 }
 .card {
  background-image: url("../images-sedona/catalog-images/icon-table.svg");
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;

}

.sly {
  background-image: url("../images-sedona/catalog-images/icon-slideshow.svg");
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;
}

.list {
  background-image: url("../images-sedona/catalog-images/icon-list.svg");
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;
}
.hotel-results {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 0 72px 0;
  list-style-type: none;
  margin: 0;
}
.hotel {
  padding: 20px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  box-sizing: border-box;
}
.hotel-mountains {
  margin-bottom: 16px;
}
.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  width: 300px;
  text-align: start;
  margin-bottom: 16px;
}
.hotel-appellation {
  min-width: 140px;
  text-align: start;
  margin-bottom: 16px;
  margin-right: 20px;
}

.hotel-prise {
  min-width: 140px;
  text-align: start;
  margin-bottom: 16px;
}
.hotel-button-detailed {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  padding: 9px 15px 8px;
  min-width: 110px;
  margin-bottom: 16px;
  margin-right: 20px;
  border: 0;
}

.hotel-button-to-like {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 9px 15px 8px;
  min-width: 110px;
  margin-bottom: 16px;
  border: 0;
}

.hotel-button-in-like {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: #7DB54F;
  padding: 9px 15px 8px;
  min-width: 110px;
  margin-bottom: 16px;
  border: 0;
}
.hotel-raiting {
  min-width: 140px;
  text-align: start;
  display: flex;
}
.hotel-star {
  background-image: url("../images-sedona/catalog-images/star.svg");
  width: 18px;
  height: 17px;
  background-repeat: no-repeat;
  text-align: start;
  margin-right: 6px;
  display: block;

}
.hotel-rate {
  font-size: 16px;
  line-height: 20px;
  min-width: 140px;
  text-align: start;
}
.pagination-box {
  display: flex;
  padding: 0 71px 0 73px;
}
.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 270px 0 0;
}
.pagination-item {
    width: 60px;
  height: 60px;
  background-color: #82B3D3;
  padding: 12px 0;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 8px;
}
.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;

}
.hotel-in-page {
  margin: 0 51px 0 0;
  padding: 20px 0 17px;
}
.pagination-link-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  background-color: #82B3D3;
  color: #000000;
}




.pagination-item {
  border: 12px 24px;
}
.hotel-mountains-star {
  margin: 0 auto;
  display: block;
}
