@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.html {
  height: 100%;
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  outline: 5px solid red;
  outline-offset: -5px;
  height: 100%;
  min-height: 100%;
  background-color: #E5E5E5;
  padding-left: 40px;
  padding-right: 40px;
}

.conteiner {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  height: 100%;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  position: relative;
  display: block;
  width: 130px;
  margin-right: 47px;
}

.navigation-logo-page-header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.navigation-list {
  margin: 0;
  padding: 0 24px 0 0;
  display: flex;
  list-style-type: none;
}

.navigation-use {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
  list-style-type: none;
  align-items: center;
}

.navigation-list-item {
  margin: 20px 34px 19px 0;
}

.navigation-list-link {
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.navigation-use-item {
  margin-right: 24px;
}

.navigation-use-icon {
  width: 20px;
  height: 18px;
  display: block;
}


.search {
  background-image: url("../images-sedona/header/search.svg");
  width: 20px;
  height: 18px;
  background-repeat: no-repeat;
}

.favorite {
  background-image: url("../images-sedona/header/favorite.svg");
  width: 20px;
  height: 17px;
  background-repeat: no-repeat;
  position: relative;
}
.circle {
  font-size: 10px;
  line-height: 13px;
  color:#ffffff;
  background-color: #7DB54F;
  width: 20px;
height: 20px;
left: 13px;
top: -9px;
border-radius: 10px;
position: absolute;
text-align: center;
box-sizing: border-box;
padding-top: 3px;
}
.navigation-use-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 9px 15px 8px;
  border-radius: 4px;
  min-width: 160px;
  display: block;
  box-sizing: border-box;
}

.main {
  flex-grow: 2;
}

.main-logo {
  background-image: url("../images-sedona/index-images/index-background.jpg");
  background-size: 1200px auto;
  height: 485px;
  background-repeat: no-repeat;
  background-color: #87CEEB;
  position: relative;
}

.main-logo-welcome {
  margin-top: 51px;
  margin-bottom: 26px;

}

.conteiner-edge {
  background-image: url("../images-sedona/index-images/under-edge.svg");
  height: 57px;
  background-repeat: no-repeat;
  position: absolute;
  width: 1200px;
  bottom: 0;
}

.main-box {
  padding: 63px 0 90px;
}

.main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 750px;
  height: 72px;
  margin: 0 auto 31px;
}

.main-subtitle {
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  width: 750px;
}

.advantages {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.advantages-pictures-city {
  display: block;
}

.advantages-pictures-canyon {
  display: block;
}

.advantages-place-number {
  margin-bottom: 30px;
}

.advantages-place-description {
  margin: 0;
}

.advantages-place-heading {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-comfort-needs {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-comfort-neds-description {
  margin: 0;
}

.advantages-comfort {
  width: 400px;
  min-height: 384px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 70px;
}

.advantages-place {
  width: 400px;
  min-height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  padding: 0 60px;
}

.town-bridge {
  color: #ffffff;
  background-color: #82B3D3;
  padding: 0 75px;
}

.advantages-comfort-image {
  width: 75px;
  height: 76px;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.home {
  background-image: url("../images-sedona/index-images/advantages/home.svg");
}

.burger {
  background-image: url("../images-sedona/index-images/advantages/food.svg");
}

.present {
  background-image: url("../images-sedona/index-images/advantages/present.svg");
}

.comfort-background {
  background: rgba(131, 179, 211, 0.12);
}

.place-background {
  background: rgba(131, 179, 211, 0.2);
}

.interest {
  display: block;
  padding: 91px 0 93px;
}

.interest-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  width: 400px;
  margin: 0 auto 29px;
}

.interest-text {
  font-size: 22px;
  line-height: 26px;
  width: 650px;
  margin: 0 auto 68px;
}

.interest-button-search-hotei-in-Sedona {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: #756157;
  padding: 12px 15px;
  display: block;
  width: 574px;
  margin: auto;
  border-radius: 4px;
}

.mailing {
  height: 411px;
  display: block;
  padding: 94px 0 20px 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.index {
  background-image: url("../images-sedona/index-images/background-mailing.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #87CEEB;
  color: #ffffff;
  text-align: center;
}

.mailing-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  width: 500px;
  margin: 0 auto 29px;
}

.mailing-info {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 500px;
  margin: 0 auto 46px;
}

.mailing-form {
  margin: 0 auto;
  display: flex;
  width: 800px;
}

.mailing-field {
  padding: 20px 100px 19px 22px;
  border-radius: 4px 0 0 4px;
  border: none;
  font:inherit;
  width: 600px;
  box-sizing: border-box;
  
}
.mailing-catalog {
  background-color: #F2F2F2;
}
.mailing-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #87CEEB;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  padding: 12px 15px;
  border-radius: 0 4px 4px 0;
}

.footer-social-network {
  display: flex;
  padding: 0;
  width: 142px;
  justify-content: space-between;
  list-style: none;
  margin: 0 42px 0 0;
  align-items: center;
}


.footer-social-network-button {
  width: 24px;
  height: 17px;
  display: block;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.footer-logo {
  display: block;
}

.footer-logo-academy {
  display: block;

}

.footer-social-network-item {
  display: block;
  fill: #83B3D3;
}

.navigation-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}


/*catalog*/
.filter-content-conteiner {
  background-image: url("../images-sedona/catalog-images/filter-backround.jpg");
  background-color: #82B3D3;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  grid-template-columns: 183px 183px 288px 160px;
  padding: 35px 70px 70px;
}


.main-inner-header {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  grid-column: 1 / -1;
  margin: 0 0 10px 0;
  padding: 0;
  text-align: start;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  width: 120px;
  list-style-type: none;
  margin: 0 0 40px 0;
  padding: 0;
}

.home-main {
  background-image: url("../images-sedona/catalog-images/logo-home.svg");
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.symbol {
  background-image: url("../images-sedona/catalog-images/simbol.svg");
  width: 5px;
  height: 8px;
  margin-right: 10px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;

}

.infrastructure {
  display: flex;
}

.infrastructure-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.infrastructure-form {
  display: flex;
  margin: 0;
  padding: 0;
}

.checkbox-filter {
  margin-right: 70px;
}

.radio-filter {
  margin-right: 175px;
}

.infrastructure-filter {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: start;
}

.infrastructure-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin: 0 0 30px 0;
  padding: 0;
  min-width: 150px;
  text-align: start;
}

.infrastructure-filter-item {
  margin-bottom: 15px;
}

.infrastructure-filter-control {
  color: #ffffff;
}
.prise-filter {
  margin-right: 70px;
  border: none;
}

.prise-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 34px 0;
  text-align: start;
}
.range {
  display: flex;
  margin-bottom: 20px;
}
.range-label {
border: #ffffff;
border-radius: 4px;
}
.range-input {
  width: 144px;
font:inherit;
padding: 0;
color: #ffffff;
background-color: transparent;
border: 2px;
border-color: white;
padding: 14px 5px 14px 20px;
box-sizing: border-box;
}
.range-line {
  position: relative;
}
.line {
position: absolute;
height: 4px;
width: 288px;
background-color: #ffffff;
left: 0;

}
.buton-range {
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  position: absolute;
  display: block;
}
.field {
  color: #ffffff;
  background-color: #82B3D3;
}
.buttons {
  align-self: end;
}

.button-filters-apply {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 14px 15px;
  border-radius: 4px;
  border: none;
}

.button-filters-reset {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}

.hotels-found {
  display: flex;
  padding: 0 72px;
}

.main-header-quantity {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  align-self: start;
  margin: 0 191px 0 0;
}

.select-control-hotels {
  margin-right: 78px;
  border-radius: 4px;
  min-width: 290px;

}

.button-icon-conteiner {
  margin-left: auto;
}

.button-icon {
  border: solid;
  padding: 14px 12px;
  border-width: 2px;
  border-radius: 4px;
  background-position: center;
  margin-right: 8px;
  color: #E5E5E5;
}

.card {
  background-image: url("../images-sedona/catalog-images/icon-table.svg");
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;

}

.sly {
  background-image: url("../images-sedona/catalog-images/icon-slideshow.svg");
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;
}

.list {
  background-image: url("../images-sedona/catalog-images/icon-list.svg");
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;
}

.hotel-results {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 0 72px 0;
  list-style-type: none;
  margin: 0;
}

.hotel {
  padding: 20px;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  flex-wrap: wrap;
  width: 340px;
  box-sizing: border-box;
}

.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  width: 300px;
  text-align: start;
  grid-column: 1/2;
}

.hotel-appellation {
  min-width: 140px;
  text-align: start;
  grid-column: 1/1;

}

.hotel-prise {
  min-width: 140px;
  text-align: start;
}

.hotel-button-detailed {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  padding: 9px 15px 8px;
  min-width: 110px;
  border: 0;
  border-radius: 4px;
}

.hotel-button-to-like {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 9px 11px 8px;
  border: 0;
  border-radius: 4px;
}

.hotel-button-in-like {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #7DB54F;
  padding: 9px 10px 8px;
  border: 0;
  border-radius: 4px;
}

.hotel-raiting {
  min-width: 140px;
  text-align: start;
  display: flex;
}

.hotel-star {
  background-image: url("../images-sedona/catalog-images/star.svg");
  width: 18px;
  height: 17px;
  background-repeat: no-repeat;
  text-align: start;
  margin-right: 6px;
  display: block;

}

.hotel-rate {
  font-size: 16px;
  line-height: 20px;
  min-width: 140px;
  text-align: start;
}

.pagination-box {
  display: flex;
  padding: 0 71px 0 73px;
  justify-content: space-between;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 240px 0 0;
}

.pagination-item {
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  padding: 12px 0;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 8px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
}

.grey-button {
  background-color: #F2F2F2;
  color: #000000;
}

.hotel-in-page {
  margin: 0;
  text-align: start;
  margin-right: 51px;
  padding: 20px 0 17px 0;
}

.select-control-hotel-list {
  width: 160px;

}

.pagination-link-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  background-color: #82B3D3;
  color: #000000;
}

.pagination-item {
  border: 12px 24px;
}

.hotel-mountains-star {
  margin: 0 auto;
  display: block;
}

/*состояния*/
.button-icon:hover {
  color: #000000;
}

.button-icon:focus {
  color: #82B3D3;
}

.button-icon:active {
  color: #000000;
}

/*коричневые кнопки*/
.brown-button:hover {
  background-color: #615048;
}

.brown-button:focus {
  background-color: #615048;
}

.brown-button:active {
  background-color: #756157;
  color: hsla(0, 0%, 100%, 0.3);

}

.brown-button:disabled {
  background-color: #E5E5E5;
}

/*голубые кнопки*/
.blu-button:hover {
  background-color: #68A2CA;
}

.blu-button:focus {
  background-color: #68A2CA;
}

.blu-button:active {
  background-color: #82B3D3;
  color: hsla(0, 0%, 100%, 0.3);
}

.blu-button:disabled {
  background-color: #E5E5E5;
}

/*зеленая кнопка*/
.hotel-button-in-like:hover {
  background-color: #6C9E42;
}

.hotel-button-in-like:focus {
  background-color: #6C9E42;
}

.hotel-button-in-like:active {
  background-color: #7DB54F;
}

.hotel-button-in-like:disabled {
  background-color: #E5E5E5;
  color: hsla(0, 0%, 100%, 0.3);
}

/*телефон*/
.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

/*Гостинницы*/
.breadcrumbs-link:hover {
  color: hsla(0, 0%, 100%, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: hsla(0, 0%, 100%, 0.3);
}

/*логотип академии*/
.footer-logo-academy:hover {
  fill: #756157;
}

.footer-logo-academy:focus {
  fill: #756157;
}

.footer-logo-academy:active {
  fill: rgba(117, 97, 87, 0.3);
}

/*иконки социальных сетей*/
.footer-social-network-item:hover {
  fill: #68A2CA;
}

.footer-social-network-item:focus {
  fill: #68A2CA;
}

.footer-social-network-item:active {
  fill: rgba(104, 162, 202, 0.3);
}